/* import my main fonts. */
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Ovo&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Ovo&family=Sacramento&display=swap');

/* fix line height for various elelments. */
h2,
h3,
h4,
p,
a {
               line-height: 1.5;
}

h3 {
               text-decoration: underline 2px solid var(--color-darkerpurple);
}

/* Apply flexbox column to body and default background color */
body {
               background-color: var(--color-lightbabyblue);
               display:flex;
               flex-direction: column;
}
