/* import my main fonts. */
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Ovo&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Ovo&family=Sacramento&display=swap');

html {
               box-sizing: border-box;
               font-size: 20px;
               font-family: var(--font-secondary);
}

*,
*::before,
*::after {
               box-sizing: inherit;
               margin: 0;
               padding: 0;
}

/* line height changes for most text elements. */
h2,
h3,
h4,
p,
a {
               line-height: 1.5;
}

h3 {
               text-decoration: underline 2px solid var(--color-darkerpurple);
}

/* default styling for the body setting flex */
body {
               background-color: var(--color-lightbabyblue);
               display: flex;
               flex-direction: column;
}

/* default styling for all links on the page. */
body a {
               color: var(--color-coffee);
               text-decoration: none;
               font-weight: 700;
}

/* default skip link is hidden. */
.skip-link {
               position: absolute;
               top: 0;
               left: -100%;
}

/* only allow skip link to show when in focus. */
.skip-link:focus {
               left: 0;
}

/* give general styling for all strong elements. */
strong {
               color: var(--color-darkerpurple);
               font-size: 1.2rem;
               padding: 2px;
}

/* add projects core colors and fonts/images. */
:root {
               --color-icyblue: #b7d3f2;
               --color-lighticyblue: rgba(183, 211, 242, .5);
               --color-babyblue: #84afe6;
               --color-lightbabyblue: rgba(132, 175, 230, .5);
               --color-mayablue: rgb(121, 190, 238);
               --color-lightmayablue: rgba(121, 190, 238, .5);
               --color-lightpurple: rgb(175, 175, 220);
               --color-superlightpurple: rgba(175, 175, 220, .5);
               --color-darkpurple: rgb(138, 132, 226);
               --color-lightdarkpurple: rgba(138, 132, 226, .5);
               --color-darkerpurple: rgb(53, 6, 62);
               --color-coffee: #6f4e37;
               --color-lightcoffee: rgba(111, 78, 55, 0.502);

               --font-primary: 'Mulish', serif;
               --font-secondary: 'Ovo', serif;
               --font-title: 'Sacramento', cursive;
               --icon-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzrsKvdmjCOjwHhra3V3tq4pXSuCs6Vh66eQ&s');
               --coffee-cup: url('https://png.pngtree.com/png-clipart/20230811/original/pngtree-isolated-vector-drawing-of-a-steaming-hot-cup-of-coffee-or-tea-using-pencil-technique-vector-picture-image_10412050.png');
}


/* Change size of link image. */
svg {
               width: 12px;
}

/*--------------HEADER------------ */
/* 1. display flex.
    2. add background and bottom border.
    3. padding and spacing and text formatting. */
header div {
               display: flex;
               flex-direction: column;
               background-color: var(--color-lightbabyblue);
               padding: 15px 30px;
               border-bottom: 12px solid var(--color-lightpurple);
               gap: 10px;
               text-align: center;
}

/* style title */
/* 1. set h1 font family.
    2. styling and getting rid of header default margin.*/
header h1 {
               font-family: var(--font-primary);
               color: var(--color-darkpurple);
               margin: 0;
               font-size: 3rem;
}
/* header formatting. */
header h2 {
               font-family: var(--font-title);
               letter-spacing: normal;
}

/* lessen size of paragraph font. */
header p {
               font-size: .8rem;
}


/*--------------NAV------------ */
/* 1. background color and border bottom only.
    2. spacing. */
nav {
               background-color: var(--color-lightbabyblue);
               border-bottom: 10px solid var(--color-lightpurple);
               padding: 0% 8%;
}

/* 1. makle main navigation links flex row.
    2. spacing between.
    3. take out list styling.
 */
nav ul {
               display: flex;
               flex-wrap: wrap;
               justify-content: space-between;
               list-style: none;
}

/* nav links spacing formatting. */
ul li {
               gap: 15px;
               min-width: 128px;
               text-align: center;
}

/* 1. get rid of link underlines.
    2. make larger area of links clickable with display block.
    3. font styling and padding. */
ul li a {
               text-decoration: none;
               font-family: var(--font-primary);
               font-weight: 700;
               color: var(--color-coffee);
               display: block;
               padding: 20px;
}

/* Hover over effect for links to show underline when hovered. */
ul li a:hover {
               border-bottom: 3px solid var(--color-coffee);
               padding-bottom: 8px;

}

/*--------------MAIN------------ */
/* 1.add a left and right border along all main content.
    2. set a max width.
    3. set background color.
     */
     main {
               color: var(--color-darkerpurple);
               border-right: 5px solid var(--color-lightcoffee);
               border-left: 5px solid var(--color-lightcoffee);
               max-width: 1400px;
               margin: 0 auto;
}

/* style links inside of main. */
main a {
               text-decoration: none;
               color: var(--color-coffee);
}

/* hover underline effect. */
main a:hover {
               text-decoration: underline;
               cursor: pointer;

}

/* 1. set background position and size as well as center text for coffee bean bullet point effect.
    2. set background image repeat to off
    3. sizing and font styling of title.
    4. blend background of coffee bean image to match main background.
     */
main h2 {
               font-family: var(--font-title);
               font-size: 2rem;
               margin-bottom: 20px;
               padding-top: 20px;
               width: 345px;
               margin-left: 10%;
               background-image: var(--icon-image);
               background-position: left;
               background-size: 40px;
               background-repeat: no-repeat;
               text-align: center;
               mix-blend-mode: multiply;
}
/*--------------ABOUT------------ */
/*set background and padding of section. */
#about {
               background-color: var(--color-lighticyblue);
               padding-top: 3%;
               padding-bottom: 5%;
}

/* Coffee cup placement in background with .1 opacity and absolute placement and z index so it is behind content.*/
#about::before {
               content: var(--coffee-cup);
               position: absolute;
               top: 50%;
               left: 55%;
               opacity: 0.1;
               z-index: -1;

}
/* set size of title and background size of coffee bean.*/
#about>section:nth-of-type(2) h2 {
               width: 620px;
               background-size: 45px;
}

/* 1. set spacing for paragraphs in about section.
    2. set colors and borders.
    */
#about>section>p {
               margin: 0 10%;
               padding: 20px 20px;
               background-color: var(--color-lightbabyblue);
               border: 3px solid var(--color-babyblue);
               font-weight: bold;
}

/* take out top and bottom of borders of first and second paragraph so two paragraphs share the same border. */
#about>section>p:nth-of-type(1) {
               border: 3px solid var(--color-babyblue);
               border-bottom: none;
}

#about>section>p:nth-of-type(2) {
               border: 3px solid var(--color-babyblue);
               border-top: none;
}


/* style block quote and give it shadow for effect. */
blockquote {
               outline: 4px solid var(--color-darkpurple);
               background-color: var(--color-lightpurple);
               box-shadow: 10px 10px 10px var(--color-darkpurple);
               margin: 0 10%;
               padding: 10px 10px;
               margin-bottom: 5%;
               margin-top: 5%;
}

/* 1. use flex and allow wrapping for modern css example list.
    2. add background color and a bottom border.
    3. add padding and margin.  */
#about ul {
               display: flex;
               flex-wrap: wrap;
               justify-content: center;
               gap: 10px;
               margin: 0 10%;
               padding: 3% 1%;
               background-size: 100%;
               background-repeat: no-repeat;
               background-color: var(--color-lightcoffee);
               border-bottom: 5px solid var(--color-coffee);
}
/* 1. take out list style.
    2. add border image to the list items.
    3. set width spacing and border sizing options for each list item. */
#about ul li {
               list-style: none;
               font-size: .8rem;
               color: var(--color-darkerpurple);
               background-color: var(--color-mayablue);
               padding: 10px 0;
               width: 220px;
               border: 4px solid;
               border-image-slice: 50;
               border-image-source: url('https://media.istockphoto.com/id/2167328245/vector/coffee-bean-pattern-on-dark-brown-background-design.jpg?s=612x612&w=0&k=20&c=vtOzSz2wRXbi8YdXFh8--A69GokccWJlV-3KzWXHYy4=');
               font-weight: bold;
               background-color: var(--color-lightcoffee)
}

/* set background color of  */
#about section:nth-of-type(2) p:nth-of-type(2) {
               background-color: var(--color-lightcoffee);
               border: none;
               border-top: 5px solid var(--color-coffee);
               text-align: center;
               padding-bottom: 0;
}
/* 1. space out the guidelines section.
    2. background style url design from heropatterns.com.
    3. border top and padding.
 */
 #guidelines {
               border-top: 5px solid var(--color-lightcoffee);
               padding: 3% 10%;
               background-color: var(--color-lightbabyblue);
               background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23b7d3f2' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
/*
1.  background coffee shop image using absolute position and z index.
 */
#contribute::before {
               content: url('https://img.freepik.com/premium-photo/png-coffee-shop-doodle-illustration-transparent-background_53876-1043141.jpg?semt=ais_hybrid&w=740&q=80');
               position: absolute;
               z-index: -1;
               left: -12%;
               opacity: .1;
               mix-blend-mode: multiply;
}

/* 1. padding and bottom border to contribute section. */
#contribute {
               padding: 3% 10%;
               border-bottom: 5px solid var(--color-lightcoffee);
}

/* margin and width of titles. */
#guidelines h2,
#contribute h2 {
               margin-left: 0%;
               width: 240px;

}

/* change font size of steps to contribute. */
#contribute h3 {
               font-size: 1.5rem;
}

/* add border and background color to steps to contribute section. */
#contribute section:nth-of-type(2) {
               padding: 3%;
               background-color: var(--color-lightmayablue);
               border: 3px solid var(--color-babyblue);
}

/* bring list number bullets into the content box and bold text.*/
#contribute ol li {
               font-weight: bold;
               list-style-position: inside;
               margin-top: 1%;
}